<div class="content">
  <div class="content-row">
    <div>
      <app-heading backgroundColor="#88D288">Favorites</app-heading>
      <app-favorite-list></app-favorite-list>
    </div>
    <div>
      <app-heading backgroundColor="#25ABD4">Recent Edgits</app-heading>
    </div>
  </div>
  <div class="content-row">
    <div>
      <app-heading backgroundColor="#D2BF88">Test Cases Tracked</app-heading>
    </div>
    <div>
      <app-heading backgroundColor="#D6384F">Failed Tests</app-heading>
    </div>
  </div>
</div>
